<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.1.5;PASSWORD=sircc;PERSIST SECURITY INFO=True;USER ID=SIRCC&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="USER ID=sircc;PASSWORD=sircc;DATA SOURCE=192.168.1.5/xe;CONNECTION LIFETIME=0;CONNECTION TIMEOUT=60" providerName="Oracle.DataAccess.Client"/>
    <!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.1.6:1522/orcl;PASSWORD=sircc;PERSIST SECURITY INFO=True;USER ID=sircc&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="USER ID=sircc;PASSWORD=sircc;DATA SOURCE=192.168.1.6:1522/orcl;CONNECTION LIFETIME=0;CONNECTION TIMEOUT=60" providerName="Oracle.DataAccess.Client"/>-->
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    
  </appSettings>

 
  <system.web>
    <!--<authentication mode="Forms" >
      <forms loginUrl="Login.aspx" defaultUrl="default.htm" name=".ASPXFORMSAUTHSIRCC" slidingExpiration="true" timeout="2880"/>
    </authentication>
    --><!--<identity impersonate ="true" userName ="borsigr04" password ="borisgr04."/>--><!--
    <authorization>
      <allow users="admin"/>
      <deny users="?"/>
    </authorization>-->
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization culture="es-CO" uiCulture="es-CO"/>
    
    <!--styleSheetTheme="Base"-->

    <membership defaultProvider="MyOracleMembershipProvider">
      <providers>
        <clear/>
        <add name="MyOracleMembershipProvider"
             type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=2.112.2.0, Culture=neutral,PublicKeyToken=89B483F429C47342"
             connectionStringName="ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" applicationName="SIRCC" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" passwordAttemptWindow="5" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyOracleRoleProvider">
      <providers>
        <add connectionStringName="connectionstring" applicationName="SIRCC" name="MyOracleRoleProvider" type="Oracle.Web.Security.OracleRoleProvider,Oracle.Web, Version=2.112.2.0, Culture=neutral,PublicKeyToken=89b483f429c47342"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="MyOracleProfileProvider">
      <providers>
        <add name="MyOracleProfileProvider" type="Oracle.Web.Profile.OracleProfileProvider,Oracle.Web, Version=2.112.2.0, Culture=neutral,PublicKeyToken=89B483F429C47342" connectionStringName="ConnectionString" applicationName="SIRCC"/>
      </providers>
      <properties>
        <add name="Modulo" type="string"/>
        <add name="PInicio" type="string"/>
      </properties>
    </profile>

  </system.web>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>